@use '../../style' as s;
@use "../../style/layout.scss" as layout;



.post__list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	
}

.post {
	padding: 12px;
	border-radius: 10px;
	background-color: rgb(225, 230, 235);
	border: 1px solid rgb(225, 230, 235);

	display: flex;
	flex-direction: column;
	gap: 12px;

	&--viewed {
		background-color: transparent;
		border-color: #e6e6e6;

		.post__info {
			color: #3a393988;
		}
	}

	.post__header {
		display: flex;
		justify-content: space-between;
	}

	.post__category-list {
		display: flex;
		gap: 8px;
	}
	.post__date {
		color: #3a393988;
		font-size: 14px;
	}

	.post__category{
		padding: 8px 12px;
		font-size: 10px;
		border-radius: 50px;

		&--1 {
			color: #f46f17;
			background-color: #f7e9e1;
			
		}

		&--2 {
			color: #ef5da8;
			background-color: #f6e8ef;
			
		}
	}
	
}