{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <div class="button">
            <img src="/svg/header__back.svg" width="24px" height="24px">
        </div>
        <div class="button">
            <img src="/img/header__avatar.png" width="24px" height="24px">
        </div>
    </header> --}}
    {{!-- <h1 class="title">Коммьюніті</h1> --}}


    {{!-- <div class="header2">
        <button class="header2__button">
            <h3 class="header2__title">База знань</h3>
        </button>
        <button class="header2__button header2__button--active">
            <h3 class="header2__title header2__title--active">Інформація</h3>
        </button>
    </div> --}}



    {{!-- <main class="post__list">
        <div class="card">
            <img src="/img/card__image.png" width="340px" height="240px" class="card__image">

            <h2 class="card__title">Що таке база знань?</h2>

            <p class="card__description">База знань - база даних, що містить правила виведення та інформацію про
                людський досвід і знання в деякій предметній галузі. У системах, що самонавчаються, база знань також
                містить інформацію, що є результатом вирішення попередніх завдань. </p>

            <button class="card__button">Перейти до ком`юніті у Телеграм</button>

        </div>
    </main> --}}

</div>




{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}